<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.yoursway.autoupdater.core/ant.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.ui.antsupport.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.yoursway.autoupdater.core"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_NAME" value="JVM 1.5"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_TYPE_ID" value="org.eclipse.jdt.internal.launching.macosx.MacOSXType"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="eclipse.pdebuild.scripts" value="/Applications/Eclipse/plugins/org.eclipse.pde.build_3.4.0.v20080604/scripts/"/>
<mapEntry key="eclipse.pdebuild.templates" value="/Applications/Eclipse/plugins/org.eclipse.pde.build_3.4.0.v20080604/templates/"/>
<mapEntry key="com.google.protobuf" value="${workspace_loc:/com.google.protobuf}"/>
<mapEntry key="eclipse.pdebuild.home" value="/Applications/Eclipse/plugins/org.eclipse.pde.build_3.4.0.v20080604/./"/>
<mapEntry key="com.yoursway.autoupdater" value="${workspace_loc:/com.yoursway.autoupdater}"/>
<mapEntry key="com.google.collections" value="${workspace_loc:/com.google.collections}"/>
<mapEntry key="com.yoursway.utils" value="${workspace_loc:/com.yoursway.utils}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/com.yoursway.autoupdater.core/ant.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
