<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="updatableApplications" name="Updatable Applications" schema="schema/updatableApplications.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.yoursway.autoupdate.ui.eclipse.AutomaticUpdatesSchedulingStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.yoursway.autoupdate.ui.eclipse.AutomaticUpdatesPreferencePage"
            id="com.yoursway.autoupdate.ui.eclipse.automaticUpdatesPage"
            name="Automatic Updates">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.yoursway.autoupdate.ui.eclipse.automaticUpdater"
            label="Automatic Updater"
            visible="true">
         <action
               class="com.yoursway.autoupdate.ui.eclipse.CheckForUpdatesAction"
               icon="icons/check-for-updates.gif"
               id="com.yoursway.autoupdate.ui.eclipse.checkForUpdates"
               label="Check for Updates"
               menubarPath="help/updates"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
