<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.yoursway.autoupdater.eclipse"
         name="YourSway Software Update"
         point="org.eclipse.ui.menus">
         
         <menuContribution
               locationURI="menu:window?after=additions">
            <command
                  commandId="com.yoursway.autoupdater.eclipse.commands.update"
                  style="push">
            </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.yoursway.autoupdater.eclipse.UpdateHandler"
            id="com.yoursway.autoupdater.eclipse.commands.update"
            name="Update...">
      </command>
   </extension>

</plugin>
